@media only screen and (max-width: 1200px) {
  /* Home page */

  .banner h1 {
    font-size: 2.8rem;
  }

  .company__logo,
  .job__content > .fas {
    width: 80px;
  }

  .banner > .logo {
    transform: none;
    margin-bottom: 20px;
  }

  .banner > .logo > img {
    display: none;
  }

  .banner > p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  /* Job detail page */

  .page .job__details {
    flex-direction: column;
  }

  .job__details > .control {
    width: 100%;
    margin-bottom: 30px;
  }

  .job__details > .control > .saved__jobs {
    margin-bottom: 20px;
  }

  .job__details > .control > .action {
    justify-content: flex-start;
  }

  .job__details .jobinfo {
    width: 100%;
    margin-top: 45px;
  }

  /* Saved Jobs page */
  .page {
    padding: 30px 50px;
  }

  .toHome h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .page {
    padding: 30px 50px;
  }

  /* Home page */
  .jobs {
    width: 95%;
  }

  .forms > .form {
    padding: 7px;
  }

  .job__category > .job__tag {
    font-size: 12px;
  }

  .job__info > h4 {
    font-size: 14px;
  }

  .job__info > p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 690px) {
  /* Home page */
  .forms .form:first-of-type {
    margin-right: 0;
  }

  .job > .post__time {
    display: none;
  }
  .company__logo,
  .job__content > .fas {
    width: 75px;
  }
  .job__content {
    width: 100%;
    flex: 1;
  }

  .banner h1 {
    font-size: 2.5rem;
  }

  .forms {
    flex-direction: column;
    justify-content: space-around;
  }

  .forms > .form:first-of-type {
    margin-bottom: 15px;
  }

  .forms > .form {
    padding: 5px;
  }

  /* Saved Jobs Page */
  .toHome > img {
    display: none;
  }

  .toHome > h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .myJobs {
    margin: 30px 0 20px;
  }

  .job__action .job__step {
    width: 100px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 600px) {
  /* Home Page */
  .company__logo,
  .job__content > .fas {
    width: 60px;
  }

  /* Job detail page */
  .toHome {
    display: none;
  }

  .myJobs {
    font-size: 18px;
  }

  .saved__list > .list__item {
    padding: 10px 0 10px 0;
  }

  .saved__list > .list__item > a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 540px) {
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }

  /* Home Page */

  .company__logo,
  .job__content > .fas {
    display: none;
  }

  .forms .form {
    width: 350px;
  }

  /* Job detail page */
  .action > .apply {
    padding: 7px 15px;
    font-size: 12px;
  }

  .job__details .jobinfo {
    margin-top: 15px;
  }

  .jobinfo__content {
    font-size: 14px;
  }
}

@media only screen and (max-width: 470px) {
  .job__action .job__step {
    width: 80px;
  }
}

@media only screen and (max-width: 420px) {
  .page {
    padding: 15px 30px;
  }
  h2 {
    font-size: 1rem;
  }
  /* Home Page */
  .banner .header__right {
    text-align: center;
  }
  .jobs {
    width: 100%;
  }
  .forms .form {
    width: 300px;
  }

  .job > .job__category {
    display: none;
  }
  .banner h1 {
    font-size: 1.8rem;
  }

  .banner p {
    font-size: 0.8rem;
  }

  .banner .search__results {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 370px) {
  /* Home Page */
  .forms .form {
    width: 250px;
    padding: 3px;
  }

  .forms .form input::placeholder {
    font-size: 11px;
  }
  /* Saved Job Page */
  .job__action .job__step {
    width: 65px;
  }
}

@media only screen and (max-width: 280px) {
  .jobinfo__content {
    font-size: 12px;
  }
} ;
