.field {
  display: flex;
  align-items: center;
}

.field input:focus {
  outline: none;
}

.field .fas {
  color: #a0a0a0;
}

.dropdown__list {
  list-style: none;
  position: absolute;
  background-color: #4668a6;
  border-radius: 3px;
}

.dropdown__list > .dropdown__list__item {
  color: #fff;
  cursor: pointer;
  border-bottom: 1px dotted #a0a0a0;
  padding: 10px;
  font-size: 13px;
}

.dropdown__list > .dropdown__list__item:hover {
  background-color: #6495ed;
}

.dropdown__list > .dropdown__list__item:last-of-type {
  border-bottom: none;
}
