.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  /* height: 300px; */
  text-align: center;
  padding: 30px 50px;
  background-image: linear-gradient(
      to bottom right,
      rgba(202, 23, 128, 0.7),
      rgba(0, 61, 128, 0.9),
      rgba(34, 42, 42, 0.8)
    ),
    url('../images/banner.jpg');
  background-size: initial;
  background-position: top;
}

.banner > .header__right {
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
}

.banner > .header__right > img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.banner > .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-4%);
}

.logo > img {
  width: 150px;
  filter: brightness(85%);
}

.banner h1 {
  letter-spacing: 1.5px;
  font-size: 3.4rem;
}

.banner h1 > span {
  font-weight: 300;
}

.banner > p {
  margin-bottom: 40px;
  font-size: 1.2rem;
}

.banner > .forms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms > .form {
  background-color: #fff;
  padding: 10px;
  width: 380px;
  border-radius: 4px;
  border: none;
}

.forms > .form:first-of-type {
  margin-right: 30px;
}

.forms > .form input {
  width: 100%;
  border: none;
  padding: 5px 20px;
}

.forms > .form input:focus {
  outline: none;
}

.forms > .form input::placeholder {
  color: #a0a0a0;
  letter-spacing: 0.4px;
  font-size: 13px;
  margin-left: 10px;
}
