.toHome {
  color: #282538;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.toHome > img {
  width: 140px;
}

.back {
  color: #334680;
  display: flex;
  align-items: center;

  margin-bottom: 25px;
  cursor: pointer;
}

.page h1 {
  margin-bottom: 60px;
}

.page h1 > span {
  font-weight: 300;
}

.job__details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.job__details > .jobinfo {
  width: 65%;
}

.jobinfo__header .job__category {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: 10px;
}

.jobinfo__header .job__category .job__tag {
  border: none;
  padding: 0;
  margin-right: 20px;
  cursor: auto;
}

.jobinfo__header > h2 {
  margin-bottom: 8px;
}

.jobinfo__header > p {
  margin-bottom: 8px;
}

.jobinfo__header > .post__time {
  margin-bottom: 8px;
}

.job__companyLocation {
  font-size: 14px;
  margin: 10px 0;
  color: #b9bdcf;
}

.jobinfo__header > .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo > .logo__container {
  position: relative;
  width: 30px;
  background-color: #fff;
  margin-top: 15px;
}

.logo__container > .company__logo {
  position: absolute;
  width: full;
  height: full;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.job__companyName a:hover {
  text-decoration: underline;
  color: #334680;
}

.logo > .company__logo {
  width: 50px;
  margin-bottom: 30px;
}

.logo > .fa-building {
  margin-bottom: 30px;
}

.job__companyName {
  font-weight: 700;
  font-size: 18px;
  margin-top: 100px;
}

.jobinfo__content {
  font-size: 15px;
  margin-top: 8px;
}

.control .fa-long-arrow-alt-left {
  margin-right: 10px;
  margin-bottom: 15px;
}

.control p {
  font-size: 1rem;
}

.control .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action > .apply {
  margin-right: 15px;
  padding: 10px 20px;
  background-color: #0198e1;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

.action > .save {
  border: none;
  background-color: #f6f7fb;
  color: #334680;
  transition: color 0.2s ease;
}

.action > .save:hover {
  cursor: pointer;
}
