.page > h1 {
  margin-bottom: 60px;
  color: #282538 !important;
}

.page > h1 > span {
  font-weight: 300;
}

.job__details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.job__details > .jobinfo {
  width: 65%;
}

.jobinfo__header > h2 {
  margin-bottom: 8px;
}

.jobinfo__header > p {
  margin-bottom: 8px;
}

.jobinfo__header > .post__time {
  margin-bottom: 25px;
}

.jobinfo__header > .logo {
  display: flex;
}

.logo > .company__logo {
  width: 50px;
  margin-bottom: 30px;
}

.job__companyInfo > .job__companyName {
  font-weight: 700;
  margin-bottom: 5px;
}

.job__companyInfo > .job__companyLocation {
  font-size: 12px;
}

.jobinfo__content {
  font-size: 15px;
}

.control .back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.control .fa-long-arrow-alt-left {
  margin-right: 10px;
  margin-bottom: 15px;
}

.control p {
  font-size: 1rem;
}

.control .action {
  display: flex;
  align-items: center;
}

.action > button {
  margin-right: 15px;
  padding: 10px 20px;
  background-color: #0198e1;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}
