.jobs {
  margin-top: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.saved__jobs {
  width: fit-content;
  text-decoration: none;
  color: #282538;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.saved__jobs:hover.saved__jobs > h3 {
  text-decoration: underline;
}

.saved__jobs > h3 {
  font-weight: 500;
  transition: font-weight 0.1s ease;
}

.saved__jobs > .fas,
.saved__jobs > .far {
  margin-right: 10px;
  color: rgba(202, 23, 128, 0.8);
}
