.login__container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.login__container > .login__inner__container {
  background-color: #fff;
  padding: 100px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.47);
}

.login__container > .login__inner__container > img {
  height: 220px;
}

.login__container > .login__inner__container > h1 {
  color: #282538;
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
}

.login__container > .login__inner__container > h1 > span {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
}

.login__container > .login__inner__container > h1 .optimal {
  font-weight: 200;
}

.login__container > .login__inner__container > button {
  padding: 10px 20px;
  border: none;
  background-color: #1167b1;
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

.login__container > .login__inner__container > button:hover {
  background-color: #0198e1;
}
