.page__list {
  display: flex;
  list-style: none;
}

.page__list > .page__item {
  display: flex;
  justify-content: center;
  width: 30px;
  background-color: #fff;
  margin-right: 10px;
  border: 1px solid darkgrey;
  border-radius: 4px;
  cursor: pointer;
}
